<% set_meta_tags title: "お問い合わせ" %>
<h2>お問い合わせ</h2>
<div class="row">
  <div class="col-md-6  col-md-offset-3 white center up_down">
    <h3>こんにちは！Atlierへようこそ！</h3>
    <p>ここはAtlierのお問い合わせページです</p>
    <p>お問い合わせフォームは現在準備中です。</p>
    <p>もう少々お待ちください。</p>
  </div>
</div>
