<% set_meta_tags title: "利用規約" %>
<h2>利用規約</h2>
<div class="row">
  <div class="col-md-6  col-md-offset-3 white center up_down">
    <h3>こんにちは！Atlierへようこそ！</h3>
    <p>ここはAtlierの利用規約ページです</p>
    <ul>
      <li>Atlierに登録して頂いた個人情報は、他のサイトへ転用されることはありません。</li>
      <li>Atlierに登録して頂いた作品情報は、他のサイトへ転用されることはありません。</li>
    </ul>
  </div>
</div>

