<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="field__positive">
    <%= link_to new_registration_path(resource_name) do %>
      新規登録する<i class="fas fa-chevron-right right"></i>
    <% end %>
  </div>
<% end %>
<%- if controller_name != 'sessions' %>
  <div class="field__positive">
    <%= link_to new_session_path(resource_name) do %>
      アカウントをお持ちの方<i class="fas fa-chevron-right right"></i>
    <% end %>
  </div>
<% end %>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="field__positive">
    <%= link_to new_password_path(resource_name) do %>
      パスワードを忘れた場合<i class="fas fa-chevron-right right"></i>
    <% end %>
  </div>
<% end %>
<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <div class="field__positive">
    <%= link_to new_confirmation_path(resource_name) do %>
      メールアドレスの再送信する<i class="fas fa-chevron-right right"></i>
    <% end %>
  </div>
<% end %>
