<li id="illustration-<%= illustration.id %>" >
  <span class="photo"><%= image_tag(illustration.photo, alt: "#{illustration.name}", class: "image", width: "150px") %></span>
  <span class="name"><%= illustration.name %></span>
  <span class="description"><%= illustration.description %></span>
</li>