<li id="illustration-<%= illustration.id %>" >
  <span class="photo"><%= image_tag(illustration.display_photo_square, alt: "#{illustration.name}", class: "image") %></span>
  <span class="name"><%= illustration.name %></span>
  <span class="description"><%= illustration.description %></span>
</li>