<% set_meta_tags title: "作品検索" %>
<div class="row">
  <aside class="col-md-3">
    <section class="work_search__aside">
      <%= render "shared/work_search", work_search: @work_search, category_parent_array: @category_parent_array %>
    </section>
  </aside>
  <div class="col-md-9">
    <div class="before--search">
      <h2>検索結果を表示します。</h2>
    </div>
  </div>
</div>
