<% if current_user.already_liked?(work) %>
  <%= link_to(work_like_path(work, liked), method: :delete, remote: true, class: "like_btn") do %>
    <span class="liked">
      <i class="fas fa-thumbs-up"></i>
    </span>
  <% end %>
<% else %>
  <%= link_to(work_likes_path(work), method: :post, remote: true, class: "like_btn") do %>
    <span class="unliked">
      <i class="far fa-thumbs-up"></i>
    </span>
  <% end %>
<% end %>
<span class="likes_count">
  <%= link_to("#", class: "modal--js__open", data: { target: "liked_users"} ) do %>
    <%= work.likes.count %>
  <% end %>
</span>