<ul class="user--works__types">
  <li><h2><%= link_to "作品一覧", user_path(@user) %></h2></li>
  <%= form_tag(url_for(:action => 'favorites'), :remote => true) do %>
    <%= submit_tag "変更する" %>
  <% end %>
</ul>
<% if @user.likes.present? %>
  <ol class="works">
    <% @user.likes.each do |like| %>
      <%= render like.work %>
    <% end %>
  </ol>
<% else %>
  <h4>いいねした作品がありません</h4>
<% end %>
