<div class="user--works__favorites">
  <% if @works.present? %>
    <ol class="works">
      <%= render @works %>
    </ol>
    <%= paginate @works %>
  <% else %>
    <h4>いいねした作品がありません</h4>
  <% end %>
</div>
