<%= link_to current_user do %>
  <%= image_tag current_user.avatar, alt: "プロフィール写真", class: "avatar", width: "150px" %>
<% end %>
<span><%= link_to "プロフィールへ進む", current_user %></span>
<span><%= pluralize(current_user.works.count, "work") %></span>