
@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
      text-decoration: none;
    }
  }
  ul {
    float: left;
    list-style: none;
    padding-left: 0px;
    li {
      float: left;
      margin-left: 20px;
      &:first-child {
        margin-left: 0px;
      }
    }
  }
  small {
    float: right;
    list-style: none;
    letter-spacing: 2px;
  }
}

/* flash */
.flash {
  color: white;
  text-align: center;
}
.danger {
  background-color: red;
}
.success {
  background-color: blue;
}

/* forms */
.field_with_errors {
  .f-control {
    border-color: red;
  }
}

/* User */
aside {
  section.user_info {
    margin-top: 20px;
    .username {
      padding-top: 5px;
      padding-bottom: 20px;
    }
    ul {
      margin-top: 20px;
      list-style: none;
      padding: 0;
      .website {
        font-size: 15px;
        text-decoration: none;
      }
      .description {
        padding-top: 5px;
        font-size: 15px;
      }
    }
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
.users {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    display: flex;
  }
  .user_right {
    padding-left: 10px;
    .username {
      display: block;
      font-size: 15px;
    }
    .email {
      display: block;
      font-size: 15px;
    }
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

/* works */

.works {
  list-style: none;
  padding: 0;
  li {
    padding: 7px 0;
    border-top: 1px solid #e8e8e8;
    display: flex;
    .works_user {
      width: 10%;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-left: 5px;
      padding-right: 5px;
      .user {
        margin-top: 5px;
        padding-top: 0;
      }
    }
    .works_detail {
      width: 85%;
      display: flex;
      flex-direction: column;
      .title {
        display: block;
        font-weight: bold;
        font-size: 20px;
      }
      .concept {
        display: block;
        font-size: 15px;
      }
      .timestamp {
        color: $gray-light;
        display: block;
      }
    }
    .delete_btn {
      width: 5%;
      display: block;
      align-self: flex-end;
      a {
        color: $gray-light;
      }
    }
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}