
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import "font-awesome";

/* mixin */
$base-color: #fffef9;
$light-gray: #eaeaea;
$gray: #b2b2b2;
$middle-gray: #808080;
$heavy-gray: #333333;
$accent-brown: #ddbf84;
$accent-orange: #fd623d;
$accent-green: #bbdf84;
$accent-blue: #e7fdfe;
$google: #dd4b39;
$twitter: #00acee;
$facebook: #3b5998;
$github: #171515;


/* universal */
body {
  background-color: $base-color;
  color: $heavy-gray;
}
.row {
  margin-top: 20px;
}
.body__container {
  padding-top: 80px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
  white-space: pre-wrap;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center h1 {
  margin-bottom: 10px;
}
ul, ol, li {
  list-style: none;
  padding-left: 0px;
}
.avatar {
  border-radius: 50%;
}
/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.white {
  background-color: white;
  border: 1px solid $light-gray;
  border-radius: 4px;
}


/* ---- header ---- */
.header {
  background-color: white;
  border-bottom: 1px solid $light-gray;
  position: fixed;
  z-index: 1;
  width: 100%;
  .header--nav {
    float: right;
    display: flex;
    align-items: center;
    a  { color : $heavy-gray; }
    i  { font-size : 18px; }
    .fa-bell { position: relative; }
    .unchecked {
      position: absolute;
      left: 12px;
      top: 12%;
      color: $accent-orange;
      i { font-size: 5px; }
    }
  }
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.8em;
  color: $accent-orange;
  letter-spacing: 1px;
  padding-top: 9px;
  &:hover {
    color: $accent-brown;
    text-decoration: none;
  }
}


/* ---- footer ---- */
footer {
  margin-top: 50px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
      text-decoration: none;
    }
  }
  ul {
    float: left;
    list-style: none;
    padding-left: 0px;
    li {
      float: left;
      margin-left: 20px;
      &:first-child {
        margin-left: 0px;
      }
    }
  }
  small {
    float: right;
    list-style: none;
    letter-spacing: 2px;
  }
}


/* ---- flash ---- */
.flash {
  padding: 1vh 2vw;
  color: white;
  text-align: center;
  border-radius: 4px;
  border: 1px solid $light-gray;
}
.danger {
  background-color: $accent-orange;
}
.success {
  background-color: $accent-green;
}


/* ---- forms ---- */
.form--common {
  padding: 6vh 5vw;
  margin-bottom: 10vh;
  background-color: white;
  border: 1px solid $light-gray;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  .error_explanation {
    padding-bottom: 6vh;
    h2 {
      font-size: 1em;
      margin-bottom: 2vh;
      color: $middle-gray;
    }
    ul {
      li {
        font-size: 0.9em;
        color: $heavy-gray;
        list-style: inside;
      }
    }
  }
  .field {
    padding-bottom: 4vh;
    label {
      display: block;
    }
    input, textarea {
      display: block;
      width: 100%;
      border: none;
      outline: none;
      box-sizing: border-box;
    }
    textarea {
      resize: none;
      height: calc( 1.3em * 4 );
      line-height: 1.3;
    }
    .form__underline {
      position: relative;
      border-top: 1px solid $gray;
      &:before {
        position: absolute;
        height: 1px;
        bottom: 0px;
        content: "";
      }
    }
    .form__message {
      font-size: 1em;
      color: $gray;
      padding-top: 0.2em;
      padding-left: 1em;
    }
    .choice--avatar {
      text-align: center;
      .prev-image {
        width: 150px;
        height: 150px;
        object-fit: cover;
        &:hover {
          cursor: pointer;
        }
      }
      .hidden_file {
        display: none;
      }
    }
  }
  .actions {
    text-align: center;
    input {
      width: 60%;
      padding-top: 6px;
      padding-bottom: 6px;
      border: 1px solid $light-gray;
      border-radius: 4px;
      background-color: $accent-green;
      color: $heavy-gray;
      &:hover {
        border: 1px solid $light-gray;
        background-color: $light-gray;
        color: $middle-gray;
      }
    }
  }
}
.field_with_errors {
  label.f-control:before {
    content: "\f057";
    font-family: "Font Awesome 5 Free";
    color: $accent-orange;
    padding-right: 5px;
  }
}
.field__positive {
  a {
    color: $heavy-gray;
    &:hover {
      color: $accent-green;
    }
  }
  .right {
    padding-left: 0.5vw;
  }
  .left {
    padding-right: 0.5vw;
  }
}
.field__negative {
  text-align: center;
  margin-top: 8vh;
  a {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid $accent-orange;
    border-radius: 4px;
    color: $accent-orange;
    &:hover {
      color: $light-gray;
      background-color: $accent-orange;
    }
  }
}
.field__oauth {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
  .google_oauth2 {
    background-color: $google;
    .logo__oauth:before {
      content: "\f1a0";
      font-family: "Font Awesome 5 Brands";
      color: white;
      padding-right: 5px;
    }
  }
  .facebook {
    background-color: $facebook;
    .logo__oauth::before {
      content: "\f09a";
      font-family: "Font Awesome 5 Brands";
      color: white;
      padding-right: 5px;
    }
  }
  .twitter {
    background-color: $twitter;
    .logo__oauth:before {
      content: "\f099";
      font-family: "Font Awesome 5 Brands";
      color: white;
      padding-right: 5px;
    }
  }
  .github {
    background-color: $github;
    .logo__oauth:before {
      content: "\f09b";
      font-family: "Font Awesome 5 Brands";
      color: white;
      padding-right: 5px;
    }
  }
  a {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
    color: white;
    &:hover {
      background-color: $light-gray;
      color: $middle-gray;
    }
  }
}
.form--remember_me {
  padding-bottom: 4vh;
  input, label {
    display: inline-block;
  }
}
.form--comment {
  display: flex;
  align-items: flex-end;
  .field__comment {
    width: 80%;
    textarea {
      width: 100%;
      display: block;
      border: 1px solid $light-gray;
      border-radius: 4px;
      background-color: white;
      outline: none;
      box-sizing: border-box;
      resize: none;
      margin-bottom: 0px;
      padding: 2px 2px;
      height: calc( 1.6em * 2 );
      line-height: 1.5;
    }
  }
  .actions {
    width: 20%;
    input {
      padding-top: 1px;
      padding-bottom: 1px;
      border: 1px solid $light-gray;
      border-radius: 4px;
      background-color: $accent-green;
      color: $heavy-gray;
      &:hover {
        border: 1px solid $light-gray;
        background-color: $light-gray;
        color: $middle-gray;
      }
    }
  }
}
.form--create_work {
  .field {
    .hidden__field {
      display: none;
    }
  }
  .field--category {
    display: flex;
    padding-bottom: 4vh;
    .category__select {
      width: 50%;
    }
  }
  .illustration--package {
    margin: 2vh 0vh 2vh 2vh;
    .illustration__label {
      margin-left: -2vh;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 14px;
      span {
        font-weight: normal;
        font-size: 13px;
        color: $middle-gray;
      }
    }
    .illustration--box {
      display: flex;
      align-items: flex-end;
      .sub_field__description {
        flex-grow: 1;
        margin-bottom: 10px;
        margin-left: 10px;
      }
    }
    .sub_field {
      .label__invisible {
        display: none;
      }
      textarea {
        height: 10vw;
        line-height: 1.5;
        min-height: 100px;
      }
    }
  }
  .prev-content {
    text-align: center;
    img {
      height: 10vw;
      min-height: 100px;
      object-fit: cover;
    }
    .prev-work {
      width: 14vw;
      min-width: 140px;
    }
    .prev-0, .prev-1, .prev-2, .prev-3, .prev-4 {
      width: 10vw;
      min-width: 100px;
    }
  }
  .actions {
    padding-top: 8vh;
  }
}


  /* ---- aside ---- */
aside {
  section {
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
section.user--info__aside {
  .avatar {
    display: inline-block;
  }
  .username {
    display: inline-block;
    padding-left: 5px;
    color: $heavy-gray;
  }
}
section.user--sub-info__aside {
  span {
    padding-bottom: 5px;
  }
  .user--work a {
    color: $heavy-gray;
    &:hover {
      color: $accent-orange;
    }
  }
}
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0vw 1vw;
    border-right: 1px solid $gray;
    color: gray;
    &:last-child {
      padding-right: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $accent-orange;
    }
  }
  strong {
    display: block;
  }
}
.assessment__by_user {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  div {
    display: flex;
    align-items: center;
    padding: 0vw 1vw;
    border-right: 1px solid $gray;
    color: gray;
    a {
      color: gray;
      &:hover {
        color: $accent-orange;
      }
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      border: 0;
    }
    .commented, .liked {
      color: $accent-orange;
    }
  }
  span {
    margin-bottom: 0px;
    i {
      margin-right: 5px;
    }
  }
}
.work--assessment__aside {
  .category_names {
    display: flex;
    padding-left: 0px;
    li {
      margin-right: 8px;
      &:last-child {
        margin-right: 0px;
      }
    }
    .category_name {
      color: $heavy-gray;
      border: 1px solid $gray;
      background-color: $accent-blue;
      border-radius: 4px;
      padding: 1px 3px;
    }
  }
}
.comment--info__aside {
  padding-top: 15px;
  border-top: 1px solid $light-gray;
  margin-top: 15px;
  .comments {
    padding-inline-start: 0px;
    .comment {
      padding-bottom: 10px;
      display: flex;
      align-items: flex-end;
      .comment__main {
        width: 80%;
        box-sizing: border-box;
        border: 1px solid $light-gray;
        border-radius: 4px;
        background-color: white;
        padding: 2px 1px;
        .comment__user {
          a {
            color: $heavy-gray;
            display: flex;
            align-items: center;
            padding-bottom: 3px;
            &:hover { color: #551A8B; }
            .username {
              padding-left: 5px;
              font-size: 1.0em;
              font-weight: bold;
            }
          }
        }
      }
      .comment__sub {
        font-size: 0.9em;
        .timestamp {
          color: $gray;
        }
      }
    }
  }
}
.work_search__aside {
  margin-top: 0px;
  .form__search {
    padding: 20px 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    div {
      padding-bottom: 20px;
      &:last-child { padding-top: 20px; }
      .category__parent { position: relative; }
      .category__child { position: absolute; }
    }
  }
}


/* ---- User ---- */
.user--info {
  margin-top: 8vh;
  padding-bottom: 2vh;
  border-bottom: 1px solid $light-gray;
  display: flex;
  .user__main {
    width: 30%;
    text-align: center;
    .username {
      font-size: 30px;
      padding-bottom: 10px;
      letter-spacing: 1.5;
    }
  }
  .user__detail {
    width: 80%;
    display: flex;
    flex-direction: column;
    .user__relation {
      display: flex;
      align-items: center;
      padding: 0px 10px;
      margin-bottom: 20px;
      .follow_form {
        margin-left: 4vw;
      }
      .btn__edit {
        margin-left: 4vw;
        border: 1px solid $middle-gray;
        border-radius: 4px;
        color: $middle-gray;
        padding: 6px 20px;
      }
    }
    .user__profile {
      text-decoration: none;
      padding-left: 1vw;
      li {
        font-size: 16px;
      }
    }
  }
}
.user--works {
  h3 {
    text-align: center;
    color: $middle-gray;
    margin-top: 4vh;
    margin-bottom: 6vh;
  }
}
.users {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid $light-gray;
    display: flex;
    align-items: center;
  }
  .user__right {
    padding-left: 10px;
    a {
      color: $heavy-gray;
      &:hover {
        color: $accent-orange;
      }
    }
    .username {
      display: block;
      font-size: 15px;
    }
  }
}
.follow_form {
  .follow--btn {
    padding: 6px 20px;
  }
}


/* ---- Works ---- */
.works {
  list-style: none;
  padding: 0;
  .work--card {
    padding: 2vw;
    margin-bottom: 7vh;
    border: 1px solid $light-gray;
    background-color: white;
    span, a {
      color: $heavy-gray;
    }
    .work--title {
      text-align: center;
      font-size: 22px;
      padding-bottom: 10px;
    }
    .work--images {
      .main__image {
        img {
          width: 100%;
          border: 1px solid $light-gray;
          margin-right: 1px;
          max-width: 692px;
          max-height: 490px;
          object-fit: contain;
          background-color: #f7f7f7;
        }
      }
      .sub__images {
        padding-left: 0px;
        .sub__image {
          img {
            width: 100%;
            max-width: 98px;
            border: 1px solid $light-gray;
          }
        }
      }
    }
    .work--other_information {
      padding-top: 10px;
      display: flex;
      .work__user {
        padding-right: 15px;
      }
    }
    .work--concept {
      padding-top: 10px;
    }
  }
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}
.work--all__information {
  background-color: white;
  border: 1px solid $light-gray;
  padding: 2vw 4vw 4vw 4vw;
  img {
    border: 2px solid $light-gray;
  }
  .work--main_info {
    padding-bottom: 4vw;
    .work__title {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid $light-gray;
      h3 {
        font-size: 22px;
      }
    }
    .work__concept {
      padding: 20px;
      p {
        font-size: 18px;
      }
    }
    .work__description {
      padding-top: 20px;
      p {
        line-height: 1.5;
        font-size: 14px;
      }
    }
    .work__image {
      img {
        width: 100%;
        max-width: 730px;
        max-height: 521px;
        object-fit: contain;
        background-color: #f7f7f7;
      }
    }
  }
  .work--sub_info {
    ol.illustrations {
      padding-left: 0px;
      li.illustration--info {
        padding-bottom: 4vw;
        .illustration__photo {
          img {
            width: 100%;
          }
        }
        .illustration__text {
          .illustration__name {
            padding-bottom: 5px;
          }
          .description {
            line-height: 1.5;
            font-size: 14px;
          }
        }
        &:last-child {
          padding-bottom: none;
        }
      }
    }
  }
}
.work--settings {
  margin-top: 40px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  aside{
    section { padding: 10px 0; }
  }
  section.comments_to_work_bottom {
    display: none;
  }
  .work--images {
    display: flex;
    justify-content: center;
    .main__image {
      width: calc( 100% * 7/8);
    }
    .sub__images {
      width: calc( 100% * 1/8);
      display: flex;
      flex-direction: column;
    }
  }
  li.illustration--info {
    display: flex;
    align-items: flex-end;
    .illustration__photo {
      width: 66.6%;
    }
    .illustration__text {
      width: 33.3%;
    }
  }
}
@media screen and (max-width: 768px) {
  aside{
    section { padding: 2vw 0; }
    margin-bottom: 8vw;
  }
  section.comments_to_work_bottom {
    padding-top: 20px;
  }
  .sub__images {
    display: none;
  }
  section.comments_to_work__aside {
    display: none;
  }
  .illustration__photo {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

/* ---- Notification ---- */
.notifications--wrapper {
  padding: 6vh 5vw;
  .notification--none {
    text-align: center;
    color: $heavy-gray;
  }
  li {
    a {
      font-weight: bold;
    }
    img { padding-bottom: 3px; }
    position: relative;
    border-bottom: 1px solid $light-gray;
    padding: 20px 5px 30px 15px;
    &:last-child {
      border-bottom: none;
      padding-bottom: 0px;
    }
    .notification__comment {
      display: block;
      padding-top: 5px;
      padding-left: 25px;
      color: $middle-gray;
    }
    .notification__time {
      position: absolute;
      right: 5px;
      bottom: 5px;
      color: $gray;
      font-size: 12px;
    }
    .notification__unchecked {
      position: absolute;
      left: 0px;
      top: 25px;
      color: $accent-orange;
      font-size: 10px;
    }
  }
}