<%  if notice.present? %>
  <p class="flash success"><%= notice %></p>
<% elsif alert.present? %>
  <p class="flash danger"><%= alert %></p>
<% else %>
  <% flash.each do |message_type, message| %>
    <p class="flash <%= message_type %>"><%= message %></p>
  <% end %>
<% end %>